<div>
  <!-- Header -->
  <app-nft-header></app-nft-header>
  <!-- end Header -->

  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
    <!-- Dual Card -->
    <div nft-dual-card [nft]="nft[0]" class="md:col-span-1"></div>
    <div nft-dual-card [nft]="nft[1]" class="md:col-span-1"></div>
    <div nft-dual-card [nft]="nft[2]" class="md:col-span-1"></div>
    <div nft-dual-card [nft]="nft[3]" class="md:col-span-1"></div>
    <!-- end Dual Card -->
    <!-- Single Card -->
    <!-- <div nft-single-card [nft]="nft[1]"></div> -->
    <!-- end Single Card -->
    <!-- Single Card -->
    <!-- <div nft-single-card [nft]="nft[1]"></div> -->
    <!-- end Single Card -->
    <!-- Single Card -->
    <!-- <div nft-chart-card class="col-span-4"></div> -->


    <!-- <app-chart [chartData]="{
      parameter1: [500, 600, 700, 800, 900, 1000, 1100],
      parameter2: [400, 500, 600, 700, 800, 900, 1000]
    }"></app-chart> -->
    <!-- end Single Card -->
    <!-- Auctions Table -->
    <!-- <div nft-auctions-table class="md:col-span-2 xl:col-span-3"></div> -->
  </div>

  <h2 class="text-foreground text-2xl font-semibold my-4">Growth Trend</h2>
  <h3 class="text-foreground text-xl font-semibold text-center mb-3">Revenue</h3>
  <app-chart [chartData]="{
    parameter1: [100, 200, 300, 400, 500, 600, 700],
    parameter2: [50, 150, 250, 350, 450, 550, 650]
  }"></app-chart>
   <h3 class="text-foreground text-2xl font-semibold text-center mb-3">Users</h3>
      <app-chart [chartData]="{
      parameter1: [500, 600, 700, 800, 900, 1000, 1100],
      parameter2: [400, 500, 600, 700, 800, 900, 1000]
    }"></app-chart>
</div>
